.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  max-height: 8vh;
}

.heading {
  margin-left: 1em;
  align-items: flex-start;
  font-size:larger;
  font-weight: 900;
}

.main-container {
  background-color: #DCDCDC;
  max-height: 90vh;
  min-height: 90vh;
  overflow-y: auto;
}

.footer-section {
  max-height: 2vh;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-small;
  padding: 0.5em;
}

.button-container-view {
  padding: 1em;
}

.button-style {
  background-color: #808080;
  padding: 0.5em;
  margin-right: 1em;
  border-radius: 0.5em;
  color: antiquewhite;
}

.delete-button {
  background-color: #808080;
  padding: 0.1em;
  color: antiquewhite;
  max-height: 3vh;
}

.item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.list-style {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  margin: 1em;
  width: 25vw;
  min-width: 25vw;
  background-color:wheat;
}

.list-item {
  flex-direction: column;
  margin: 1.5em;
  padding: 0.3em;
  background-color:burlywood;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto; 
  /* max-height: 90vh; */
  margin-right: 1em;
 
}

.item-title {
  display: flex;
  word-wrap: break-word;
}

.text {
  display: flex;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin: 0.5em;
  width: 20vw;
  height: 4vh;
  border-radius: 0.5em;
  border-width: 0;
  padding: 0.4em;
}